<footer class="footer bg-dark">
    <div class="footer-col">
        <h4 class="footer-info">Mapa do site</h4>
         <a href="/blog" title="Blog"><h3 class="footer-info-itens">Blog</h3></a>
         <a href="/sobre" title="Sobre mim"><h3 class="footer-info-itens">SObre mim</h3></a>
         <a href="/contato" title="Contato"><h3 class="footer-info-itens">Contato</h3></a>
    </div>
    <div class="footer-col">
        <!-- <h4>> infos</h4> -->
    </div>
    
    <div class="footer-col">
        <h3 class="footer-info">mídias sociais</h3>
        <div class="footer-social-itens">
            <a href="{{site.github_url}}" title="Github"><i class="fab fa-github"></i></a>
            <a href="{{site.kaggle_url}}" title="Kaggle"><i class="fab fa-kaggle"></i></a>
            <a href="{{site.linkedin_url}}" title="Linkedin"> <i class="fab fa-linkedin-in"></i></a>    
        </div>
    </div>
</footer>