<div id="menu">{% include menu.html %}</div>
<header class="header">
    {% if page.dir == '/' %}
        <section class="banner-home">
            <section class="banner " >
                <div class="perfil"></div>
                <div class="presentation">
                    <h1 class="text-center">Olá Seja Bem-vindo!</h1>
                    <h3 class="text-center px-5 mx-5">Meu nome é Raphael Borges desenvolvedor fullstack e {{site.description}} </h3>
                    <div id="social-itens" class="mt-2">
                        <a class="social-item" title="Github" href="{{site.github_url}}">
                            <button class="btn btn-outline-primary btn-circle "><i class="fab fa-github"></i></button>
                        </a>
                        <a class="social-item" title="Kaggle" href="{{site.kaggle_url}}">
                            <button class="btn btn-outline-primary btn-circle "><i class="fab fa-kaggle"></i></button>
                        </a>
                        <a class="social-item" title="Linkedin" href="{{site.linkedin_url}}">
                            <button class="btn btn-outline-primary btn-circle "><i class="fab fa-linkedin-in"></i></button>
                        </a>
                    </div>
                </div>
            </section>
        </section>
    {% else %}
        {% if page.layout != 'post' %}
            <div class="text-center post-info m-2">
                <h1>{{page.title}}</h1>
            </div>
        {% endif %}
    {% endif %}
    <hr class="m-0 p-0">
</header>
