<header class="header">
<div id="menu">{% include menu.html %}</div>
{% if page.dir == '/' %}
    <section class="banner">
        <div class="perfil"></div>
        <div class="presentation">
            <h1>Olá Seja Bem-vindo!</h1>
            <h3>Meu nome é Raphael Borges. Sou desenvolvedor fullstack e Ciêntista. </h3>
            <div id="social-itens" class="mt-1">
                <a href="http://www.github.com/oraphaborges">github</a>
                <a href="http://www.kaggle.com/oraphaborges">kaggle</a>
            </div>
        </div>
    </section>
    {% else %}
        {% if page.layout != 'post' %}
            <div class="text-center post-info m-2">
                <h1>{{page.title}}</h1>
            </div>
        {% endif %}
    {% endif %}
    <hr class="m-0 p-0">
</header>