<div id="menu">{% include menu.html %}</div>
<header class="header">
    {% if page.dir == '/' %}
        <section class="banner-home">
            <section class="banner " >
                <div class="perfil"></div>
                <div class="presentation">
                    <h1>Olá Seja Bem-vindo!</h1>
                    <h3 class="text-center">Meu nome é Raphael Borges desenvolvedor fullstack e {{site.description}} </h3>
                    <div id="social-itens" class="mt-2">
                        <a class="social-item" title="Github" href="http://www.github.com/oraphaborges"><i class="fab fa-github"></i></a>
                        <a class="social-item" title="Kaggle" href="http://www.kaggle.com/oraphaborges"><i class="fab fa-kaggle"></i></a>
                        <a class="social-item" title="Linkedin" href="https://www.linkedin.com/in/raphael-borges-63a04591/"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </section>
        </section>
    {% else %}
        {% if page.layout != 'post' %}
            <div class="text-center post-info m-2">
                <h1>{{page.title}}</h1>
            </div>
        {% endif %}
    {% endif %}
    <hr class="m-0 p-0">
</header>
