<nav class="container row p-4 mx-auto">
   <div class="col-sm-12 col-md col-lg">
       <a href="" >Home </a>
    </div>
   <div class="col-sm-12 col-md col-lg">
       <a href="" >Artigos </a>
    </div>
   <div class="col-sm-12 col-md col-lg">
       <a href="" >Palestras </a>
    </div>
   <div class="col-sm-12 col-md col-lg">
       <a href="" >Projetos </a>
    </div>
   <div class="col-sm-12 col-md col-lg">
       <a href="" >Blog </a>
    </div>
   <div class="col-sm-12 col-md col-lg">
       <a href="" >Contato </a>
    </div>
</nav>