<nav class="container row p-4 mx-auto">
   <div class="col-sm-12 col-md col-lg">
       <a href="/" >Home </a>
    </div>
   <div class="col-sm-12 col-md col-lg">
       <a href="/artigos" >Artigos </a>
    </div>
   <div class="col-sm-12 col-md col-lg">
       <a href="/palestras" >Palestras </a>
    </div>
   <div class="col-sm-12 col-md col-lg">
       <a href="/projetos" >Projetos </a>
    </div>
   <div class="col-sm-12 col-md col-lg">
       <a href="/blog" >Blog </a>
    </div>
   <div class="col-sm-12 col-md col-lg">
       <a href="/contato" >Contato </a>
    </div>
</nav>