@import "components/text";
@import "components/buttons";
@import "components/spacing";

.bg-dark{
    background-color: $dark;
    color: $light;
}
.bg-light{
    background-color: $light;
    color: $dark;
}
.bg-white{
    background-color: $white;
    color: $dark;
}

.perfil {
    width: 138px;
    height: 138px;
    background-image: url('../img/perfil.jpg');
    border-radius: 100%;
    margin: 40px;
    box-shadow: 
      0px 0px 0px 4px $main-color,
      0px 0px 2px 14px transparentize($main-color, 0.7),
      0px 0px 1px 23px transparentize($main-color, 0.8),
  }