.post-contact{
    max-width: 750px;
    display: flex;
    flex-direction: row;
    margin-left: auto; 
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 70px; 

    -webkit-box-shadow: 0px 0px 52px -13px rgba(0,0,0,0.43);
    -moz-box-shadow: 0px 0px 52px -13px rgba(0,0,0,0.43);
    box-shadow: 0px 0px 52px -13px rgba(0,0,0,0.43);

}

.post-contact-info{
    width: 45%;
    color: $light;
    background-color: darken($main-color,15%);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    div{ margin: auto; }
    i{margin-right: 20px;}
    h2{margin-bottom: 30px;}
    h3{
        font-size: 12px;
        margin-bottom: 20px;
        color: darken($light,7.5%);
        &:hover{color: $light;}
    }
    
}

.post-contact-form{
    width: 55%;
    display: flex;
    flex-direction: column;
    h2{margin-bottom: 30px;}
    div{
        display: flex;
        margin-bottom: 10px;
    }
}

label{
    font-size: 11px;
    &:active{
        color: $main-color;
    }
}
input{
    font-size: 16px;
    width: 150px;
    height: 20px;
    margin: 5px;
    border: none;
    border-bottom: 1px solid $dark;
    transition: 0.3s;
    &:focus {
        width: 180px;
        outline: none;
        border-bottom: 2px solid $main-color;
    }
}

textarea{
    font-size: 16px;
    height: 20px;
    width: 100%;
    resize: none;
    border: none;
    border-bottom: 1px solid $dark;
    transition: 0.3s;
    &:focus{
        outline: none;
        border-bottom: 2px solid $main-color;
    }
}

@media (max-width: 768px) {
    .text-contact{
        margin-bottom: 10px;
        padding-bottom: 10px;
    }
    .post-contact{
        display: flex;
        flex-direction: column;
    }

    .post-contact-info{
        width: 100%;
    }
    .post-contact-form{
        padding: 10px;
        width: 100%;
    }
    input{
        width: 30%;
        &:focus {
            width: 38%;
        }
    }
    textarea{width: 60%;}
    button{width: 80%}
}