.post-contact{
    display: flex;
    flex-direction: row;

    -webkit-box-shadow: 0px 0px 52px -13px rgba(0,0,0,0.43);
    -moz-box-shadow: 0px 0px 52px -13px rgba(0,0,0,0.43);
    box-shadow: 0px 0px 52px -13px rgba(0,0,0,0.43);

}

.post-contact-info{
    width: 100%; 
    color: $light;
    background-color: darken($main-color,15%);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    i{margin-right: 20px;}
    h2{margin-bottom: 30px;}
    h3{margin-bottom: 20px;
        color: darken($light,7.5%);
        &:hover{color: $light;}
    }
    
}

.post-contact-form{
    h2{margin-bottom: 30px;}
    display: flex;
    flex-direction: column;
    div{
        display: flex;
        margin-bottom: 10px;
    }
}

label{
    font-size: 12px;
    &:active{
        color: $main-color;
    }
}
input{
    font-size: 16px;
    width: 192px;
    height: 20px;
    margin: 5px;
    border: none;
    border-bottom: 1px solid $dark;
    transition: 0.3s;
    &:focus {
        width: 260px;
        outline: none;
        border-bottom: 2px solid $main-color;
    }
}

textarea{
    font-size: 16px;
    height: 20px;
    width: 100%;
    resize: none;
    border: none;
    border-bottom: 1px solid $dark;
    transition: 0.3s;
    &:focus{
        outline: none;
        border-bottom: 2px solid $main-color;
    }
}

@media (max-width: 768px) {
    .post-contact{
        width: 450px;
        display: flex;
        flex-direction: column;
    }

    input{
        width: 130px;
        &:focus {
            width: 180px;
        }
    }
}