.btn{
    border-style: solid;
    border-radius: 30px;
    border-width: 1px;
    padding: 8px 16px;
    margin: 5px;
}
.btn-primary{
    color: $white;
    background-color:  $main-color;
    border-color: $main-color;
    &:hover{
        transition: 0.3s;
        box-shadow: 
            0px 0px 0px 5px transparentize($main-color, 0.7),
    }
}

.btn-outline-primary{
    color: $dark;
    background-color:  transparentize($white, 0.2) ;
    border-color: $main-color;
    &:hover{
        color: $white;
        background-color:  $main-color;
        transition: 0.3s;
        box-shadow: 
            0px 0px 0px 5px transparentize($main-color, 0.7),
    }
}

.btn-sm{
    font-size: 11px;
}
.btn-lg{
    font-size: 20px;
}
.btn-circle{
    border-radius: 100%;
    width: 30px;
    height: 30px;
    padding: 0px 0px;
    border-width: 0px;
    margin: 0px;
}