.btn{
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    padding: 8px 16px;
}
.btn-primary{
    color: $white;
    font-weight: bolder;
    background-color:  $main-color;
    border-color: $main-color;
    transition: 0.3s;
    &:hover{
        color: $white;
        transition: 0.3s;
        background-color:  $main-color-dark;
    }
}

.btn-outline-primary{
    color: $main-color;
    background-color:  transparentize($white, 0.2) ;
    border-color: $main-color;
    &:hover{
        color: $white;
        background-color:  $main-color;
        transition: 0.3s;
        box-shadow: 
            0px 0px 0px 5px transparentize($main-color, 0.7),
    }
}

.btn-sm{
    font-size: 11px;
}
.btn-lg{
    font-size: 20px;
}
.btn-xl{
    font-size: 14px;
    padding-top: 70px;
    padding-bottom: 130px;
    
}
.btn-circle{
    border-radius: 100%;
    width: 30px;
    height: 30px;
    padding: 0px 0px;
    border-width: 0px;
    margin: 0px;
}