
 .posts{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .post:nth-child(1){
        width: 35%;   
    }
    .post:nth-child(2){
        width: 55%;   
    }
    .post:nth-child(3){
        width: 30%;   
    }
    .post:nth-child(4){
        width: 30%;   
    }
    .post:nth-child(5){
        width: 30%;   
    }
    .post:nth-child(6){
        width: 70%;   
    }
    .post{     
        border: 1px solid rgba(0,0,0,0.08);
        border-radius: 4px;
        margin: 10px;
        padding: 20px;
        transition: 0.8s;
        .post-title{}
        .post-meta{
            color: $text-light;
            span{font-size: $h4;}
            .post-icon{}
            .post-autor{}
            .post-data{}
        }
        .post-conteudo{
            color: $text-light;
        }
        .post-ancor{
            font-size: $h5;
            color: $main-color;
            a{border-bottom: 1px solid $main-color;}
            span{
                border-bottom: 0px;
            }
        }
        -webkit-box-shadow: 5px 5px 11px -6px rgba(0,0,0,0.06); 
        box-shadow: 5px 5px 11px -6px rgba(0,0,0,0.06);
    }

    .post:hover{
        position: relative;
        bottom: 5px;
        transition: 0.8s;
        -webkit-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.10); 
        box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.10);
    }
 }
@media (max-width: 918px) {
     .posts{
        .post:nth-child(n){
            width: 43%;      
            }
        }
    }
@media (max-width: 768px) {
     .posts{
        .post:nth-child(n){
            width: auto;      
            }
        }
    }